#title {
    color: green;
}

.new {
    color: brown;
}

.content {
    color: blueviolet;
}

.bookCard {
    color: rgb(25, 115, 199);
    height: 300px;
    width: 250px;
    border: 2px;
    border-style: dotted;
    border-color: blueviolet;
    padding: 15px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

p {
    color:brown;
}

form {
    border: 3px solid #f1f1f1;
    display: none;
}